<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiAppCrudFirebase"
        tools:targetApi="31">
        <activity
            android:name=".FormularioProfesionActivity"
            android:exported="false" />
        <!-- ✅ Pantalla principal de bienvenida tipo splash -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 🔐 Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- 📝 Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- 🧑‍💼 CRUD Usuarios -->
        <activity
            android:name=".CrudUsuariosActivity"
            android:exported="false" /> <!-- 🧾 Formulario usuario (crear/editar) -->
        <activity
            android:name=".FormularioUsuarioActivity"
            android:exported="false" /> <!-- 🧠 CRUD Profesiones (opcional) -->
        <activity
            android:name=".CrudProfesionActivity"
            android:exported="false" />
    </application>

</manifest>